.SignUp-content{
	display: flex;
	justify-content: center;
    text-align: center;
    width: 100%;
    padding:0;
    margin: 0;
    background-image: url('Designer-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
.main{
	display: flex;
	justify-content: center;
  text-align: center;
  }
.signup{
	width: 500px;
	height: 700px;
    margin-top:196px;
	margin-bottom: 196px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 20px 40px 60px #000;
	position: relative;
}
.signup:hover{
	box-shadow: 20px 40px 60px red; 
  }
  .label-2{
	font-size: 3em;
	justify-content: center;
	display: flex;
	margin-top: 50px ;
	cursor: pointer;

}
.label-2 b{
	color:red;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.label-2 b:hover{
	color: aqua;
}
.SignUp-input{
	width: 60%;
	height: 40px;
	background: #e0dede;
	display: flex;
	margin: 40px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 7px;
}
.SignUp-text{
	color: black;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.SignUp-text a{
color: red;
text-decoration: none;
}
.SignUp-text a:hover{
	color: black;
}
.sign-btn{
	width: 60%;
	height: 50px;
	margin:auto; 
	justify-content: center;
	display: block;
	background:#e4227d;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
     outline: none;
     border: none; 
	border-radius: 7px;
	cursor: pointer;
}
.sign-btn a{
	color: black;
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.sign-btn:hover{
	background: red;
}